{% extends 'base.html' %}

{% block content %}

<h1 class="mb-4">
    Dashboard
</h1>

<div class="row">

    <div class="col-md-4">

        <div class="card shadow-sm mb-4">

            <div class="card-body">

                <h5 class="card-title">
                    Contacts
                </h5>

                <p class="display-6">
                    {{ user.contact_set.count }}
                </p>

            </div>

        </div>

    </div>

    <div class="col-md-4">

        <div class="card shadow-sm mb-4">

            <div class="card-body">

                <h5 class="card-title">
                    Campaigns
                </h5>

                <p class="display-6">
                    {{ user.campaign_set.count }}
                </p>

            </div>

        </div>

    </div>

</div>

{% endblock %}